# 测试图片文件夹
# 测试文件夹格式为：
# test_data/
# ├── color/
# │   ├── 0001.png
# │   ├── 0002.png
# │   └── ...
# └── depth/
#     ├── 0001.png  
#     ├── 0002.png
#     └── ...

test_data/

# 运行文件
__pycache__/
*.pyc

# IDE + 调试
.vscode/


# 其他部分负责文件
utils/
Mv3dRgbdImport/
Mv3dRgbdLog/

# 静态文件
resources/
static/

# 未来模块
future/